/* CSS Document */
body {
	
background: #FDFC47; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FDFC47 , #24FE41); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FDFC47 , #24FE41); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}
	


img {
	margin-top:50px;
	bottom: 5%;
	width: 50%;
	text-align: center;
	
	}
