/* CSS Document */
body {
background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        

font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
        
}

img {
	position:relative;
	width: 50%;
	margin-top:5%;
	}
	
#text { margin-top: 2%; 
position: absolute;
	left: 25%;
	width: 50%;}

	